
.card {

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.card-action {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-action-btn {
  width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-delete {
  background-color: tomato;
  color: white;
}

.btn-success {
  background-color: skyblue;
  color: white;
}